@model List<EasyCom.Api.Types.Product>
<div class="jumbotron">
    <h1>EasyShop</h1>
</div>


<div id="body">
    <ul>
        @if (Model != null)
        {
            foreach (var product in Model)
            {
                <li>@product.ProductName</li>
                <li>@product.ProductID</li>
                <li>@product.Price</li>
            }
        }
    </ul>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Customers</h2>
        </div>
        <div>
            <table id="customers" style="border: 1px solid black;"></table>
        </div>

    </section>
</div>
@section scripts {
    <script>

        var apiCustomers = 'http://localhost/EasyComApi/api/Products';
    $(document).ready(function () {
        // Send an AJAX request
        var rows = '';
        $('#customers').empty();

        $.getJSON(apiCustomers,
            function (data) {
                $.each(data, function (key, val) {
                    //var customerURL = apiCustomers + '/' + val.CustomerID;
                    var customerURL = apiCustomers ;
                    rows = rows + '<tr style="border: 1px solid black;"><td>  ' +
                    '<a style="color: Blue; font-weight:bold; font-size:15px"' +
                        'href="' + customerURL + '">' + val.ProductName + '</a>' +
                        '</td><td>' + val.ProductID +
                        '</td><td>' + val.Price + '</td></tr>';
                });
                $('#customers').html(rows);
            });
    });
    </script>
}




